GRAPH_GATEWAY_URL=https://gateway.thegraph.com/api
GRAPH_API_KEY=
# Uniswap V3 Ethereum
GRAPH_SUBGRAPH_ID=5zvR82QoaXYFyDEKLZ9t6v9adgnptxYpKpSbxtgVENFV
# ENS mainnet
ENS_SUBGRAPH_ID=5XqPmWe6gjyrJtFn9cLy237i4cWw2j9HcUJEXsP5qGtH
CORS_ORIGINS=http://localhost:3000
AGENT_ENS_NAME=namegraph.eth
